extends ../layouts/default

block content
  section.view
    .full-bg-img.mask.rgba-teal-light
      .container.flex-center
        .row.flex-center
          .col-md-10.col-lg-6.text-center.text-md-left.margins
            .white-text
              h1.h1-responsive.font-weight-bold.mt-sm-5.wow.fadeInLeft(data-wow-delay='0.3s')!= data.contents[0].title
              hr.hr-light.wow.fadeInLeft(data-wow-delay='0.3s')
              h6.wow.fadeInLeft(data-wow-delay='0.3s', data-ks-editable='testEdit')
                p!= data.contents[0].content
              br
              a.btn.btn-outline-white.wow.fadeInLeft(data-wow-delay='0.3s', href='/beheer') Beheer
          .col-md-6.col-lg-6.clearfix.d-md-flex.d-none.wow.fadeInRight.justify-content-center(data-wow-delay='0.3s')
            img.img-fluid(src='https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png', alt='')
