header {
	background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
